<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b1b692">  <td>14/10/31 14:00:20</td>   <td>0</td> <td title="&gt;&gt;SeamTest.startSeam()[pri:0, instance:org.itsector.aeriscaelum.integration.RegistarTrechoTest@4ab122a1]">&gt;&gt;startSeam</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@616624620</td>   <td></td> </tr>
</table>
