<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/layout/layoutTemplate.xhtml">
	<ui:define name="body">
		<h:form>
			<h1>Bem-vindo #{identity.username}</h1>
			<h:commandLink action="comecar" value="Páginal Inicial" />
		</h:form>
	</ui:define>
</ui:composition>
</html>