<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:s="http://jboss.com/products/seam/taglib">

<ui:composition template="/layout/layoutTemplate.xhtml">
	<ui:define name="body">
		<rich:panel>
			<f:facet name="header">Login</f:facet>
			<h:form>
				<s:label value="Username" />
				<h:inputText value="#{identity.username}" id="username" />
				<s:label value="Password" />
				<h:inputSecret value="#{identity.password}" id="password" />
				<h:commandButton value="Login" action="#{identity.login}" />
			</h:form>
		</rich:panel>
	</ui:define>
</ui:composition>
</html>