<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/layout/layoutTemplate.xhtml">
	<ui:define name="body">
		<h1>Cadastro de Trechos</h1>
		<h:form>

			<h:panelGrid>
				<s:decorate template="/layout/validation.xhtml">
					<ui:define name="label">Origem:</ui:define>
					<h:selectOneMenu value="#{trechoHandler.trecho.origem}"
						required="true">
						<s:selectItems value="#{localidades}" var="localidade"
							label="#{localidade.nome}" />
					</h:selectOneMenu>
				</s:decorate>
				<s:decorate template="/layout/validation.xhtml">
					<ui:define name="label">Destino:</ui:define>
					<h:selectOneMenu value="#{trechoHandler.trecho.destino}"
						required="true">
						<s:selectItems value="#{localidades}" var="localidade"
							label="#{localidade.nome}" />
					</h:selectOneMenu>
				</s:decorate>
				<h:inputHidden value="#{trechoHandler.trecho.id}" />

				<h:commandButton value="Salvar"
					actionListener="#{trechoHandler.salvar}" />

			</h:panelGrid>

		</h:form>

		<h:form>
			<rich:dataTable value="#{trechos}" var="data" style="width:60%">
				<rich:column>
					<f:facet name="header">Id</f:facet>
					<h:outputText value="#{data.id}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">Origem</f:facet>
					<h:outputText value="#{data.origem.nome}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">Destino</f:facet>
					<h:outputText value="#{data.destino.nome}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">Editar</f:facet>
					<h:commandLink action="#{trechoHandler.editar}">
						<h:outputText value="editar" />
					</h:commandLink>
				</rich:column>
				<rich:column>
					<f:facet name="header">Remover</f:facet>
					<h:commandLink action="#{trechoHandler.remover}">
						<h:outputText value="remover" />
					</h:commandLink>
				</rich:column>
				<rich:column>
					<f:facet name="header">Cadastrar Voo</f:facet>
					<s:link action="#{vooHandler.manipularVoos(data)}">
						<h:outputText value="registar voo" />
					</s:link>
				</rich:column>
			</rich:dataTable>
		</h:form>
		<br />
		Error: <rich:messages />
	</ui:define>
</ui:composition>
</html>