<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:s="http://jboss.com/products/seam/taglib">

<ui:composition template="/layout/layoutTemplate.xhtml">
	<ui:define name="body">

		<rich:panel style="width:60%">

			<rich:panel>
				<f:facet name="header">
					<h1 style="padding-left: 10px;">Registar Voos</h1>
				</f:facet>
			</rich:panel>

			<h:form>
				<rich:panel>
					<s:decorate template="/layout/validation.xhtml">
						<ui:define name="label">Código:</ui:define>
						<h:inputText value="#{voo.codigo}" required="true" />
					</s:decorate>
				</rich:panel>

				<h:inputHidden value="#{voo.id}" />
				<rich:spacer height="20" />
				<rich:separator lineType="solid" height="2" />
				<rich:spacer height="20" />

				<rich:panel id="panel_origem">
					<f:facet name="header">
						Origem: #{vooHandler.trechoSelecionado.origem}
					</f:facet>

					<s:decorate template="/layout/validation.xhtml">
						<ui:define name="label">Dia:</ui:define>
						<rich:calendar value="#{voo.dataPartida}" datePattern="dd/MM/yyyy" />
					</s:decorate>
					
					<rich:spacer height="10" />
					
					<s:decorate template="/layout/validation.xhtml">
						<ui:define name="label">Hora:</ui:define>
						<h:inputText value="#{voo.horaPartida}">
							<f:convertDateTime type="time" pattern="HH:mm" />
						</h:inputText>
					</s:decorate>
				</rich:panel>

				<rich:spacer height="20" />

				<rich:panel id="panel_destino">
					<f:facet name="header">
						Destino: #{vooHandler.trechoSelecionado.destino}
					</f:facet>

					<s:decorate template="/layout/validation.xhtml">
						<ui:define name="label">Dia:</ui:define>
						<rich:calendar value="#{voo.dataChegada}" datePattern="dd/MM/yyyy" />
					</s:decorate>

					<rich:spacer height="20" />

					<s:decorate template="/layout/validation.xhtml">
						<ui:define name="label">Hora:</ui:define>
						<h:inputText value="#{voo.horaChegada}">
							<f:convertDateTime type="time" pattern="HH:mm" />
						</h:inputText>
					</s:decorate>
				</rich:panel>

				<rich:spacer height="20" />
				<h:commandButton value="Guardar" action="#{vooHandler.salvarVoo}" />
				<!--  </rich:panel> -->
			</h:form>
		</rich:panel>

		<rich:panel>
			<h:form>
				<rich:dataTable value="#{voos}" var="data" style="width: 60%">
					<f:facet name="header">Voos Registados</f:facet>

					<rich:column>
						<f:facet name="header">Codigo de Voo</f:facet>
					#{data.codigo}
					</rich:column>

					<rich:column>
						<f:facet name="header">Partida</f:facet>
						<h:outputText value="#{data.dataPartida}">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
						</h:outputText>
						<h:outputText value=" - " />
						<h:outputText value="#{data.horaPartida}">
							<f:convertDateTime type="time" pattern="HH:mm" />
						</h:outputText>
					</rich:column>

					<rich:column>
						<f:facet name="header">Chegada</f:facet>
						<h:outputText value="#{data.dataChegada}">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
						</h:outputText>
						<h:outputText value=" - " />
						<h:outputText value="#{data.horaChegada}">
							<f:convertDateTime type="time" pattern="HH:mm" />
						</h:outputText>
					</rich:column>

					<rich:column>
						<f:facet name="header">Editar</f:facet>
						<h:commandLink action="#{vooHandler.editarVoo}">
							<h:outputText value="editar" />
						</h:commandLink>
					</rich:column>

					<rich:column>
						<f:facet name="header">Remover</f:facet>
						<h:commandLink action="#{vooHandler.apagarVoo}">
							<h:outputText value="remover" />
						</h:commandLink>
					</rich:column>
				</rich:dataTable>
			</h:form>
		</rich:panel>

		<rich:panel>
			Error: <rich:messages />
		</rich:panel>
	</ui:define>
</ui:composition>
</html>