<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<head>
<title><ui:insert name="titulo">Aeris</ui:insert></title>

<!-- CSS -->
<link rel="stylesheet" type="text/css"
	href="${facesContext.externalContext.requestContextPath}/stylesheet/default.css"></link>

</head>
<body>
	<ui:insert name="body" />
</body>
</html>