<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:rich="http://richfaces.org/rich">
	
	<div>
		<s:label styleClass="#{invalid ? 'error' : ''}">
			<ui:insert name="label"/>
			<s:span styleClass="required" rendered="#{required}">*</s:span>
		</s:label>
		
		<s:span styleClass="#{invalid ? 'error' : ''}">
			<s:validateAll>
				<ui:insert/>
			</s:validateAll>
		</s:span>
		
		<s:message styleClass="error"/> 
	</div>
	
</ui:composition>
